@import "./reset";
@import "./themes/dark";
@import "./themes/normal";
@import "./variables/global";
@import "./themes/orange";

body{
    overflow: hidden;
}

.app 
.app_modal
.app_drawer{
    color: var(--primary-color);
    font-size: var(--font-m);
}

.app {
    color: var(--primary-color);
    font-size: var(--font-m); 
    background-color: var(--bg-color);
    min-height: 100vh;
}

.content-page {
    display: flex;
}


*::-webkit-scrollbar {
    width: 12px;               
    height: 8px;
}

*::-webkit-scrollbar-track {
    background: var(--card-bg);     
}

*::-webkit-scrollbar-thumb {
    background-color: var(--inverted-primary-color);    
    border-radius: 20px;       
    border: 2px solid var(--primary-color);  
}
