.app.light {
    --bg-color: #9292eb;
    --inverted-bg-color:#540202;
    
    
    --primary-color: #76e976;
    --secondary-color: #175a17;
    --inverted-primary-color: #76e976;
    --inverted-secondary-color: #175a17;
  }
  