.app_orange_theme{
    --bg-color: #ffaa21;
    --inverted-bg-color:#E75023;
    --primary-color: #56eb46;
    --secondary-color: #FBFAF4;
    --inverted-primary-color: #466aeb;
    --inverted-secondary-color: #FBFAF4;
}