.app_orange_theme{
    --bg-color: #ffaa21;
    --inverted-bg-color:#E75023;
    --primary-color: #56eb46;
    --secondary-color: #FBFAF4;
    --inverted-primary-color: #466aeb;
    --inverted-secondary-color: #FBFAF4;

    // skeleton
    --skeleton-color: #fff;
    --skeleton-shadow: rgba(0 0 0 / 20%);

    // code
    --code-bg: #fff;

    // card
    --card-bg: #d5d5d7;

    // listbox
    --listbox-bg: #d5d5d7;
}